<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Usuario</title>
</head>
<body>
  <h3>Cadastrar Novo Usuario</h3><br>
  <form action="" method="post">
    Nome: <input type="text" name="nomeForm" required><br>
    Email: <input type="email" name="emailForm" required><br>
    Senha: <input type="password" name="senhaForm" required><br>
    Confirmar senha: <input type="password" name="confSenhaForm" required><br>
    <h4>{{alerta}}</h4>
    <hr>
    <input type="submit" value="Cadastrar">
  </form>
</body>
</html>